/* Global */

:root {
  /* APP Colors */
  --color-primary: var(--color-black);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  /* home-background */
  --home-bg-gradient: linear-gradient(
    180deg,
    rgba(35, 33, 77, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  --home-bg-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='371' height='371' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%231B1E26' stroke-width='4.4'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2301373B'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");

  /* Colors */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;

  /* size */
  --size-max-width: 1200px;

  /* Divider */
  --divider-single-wave: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" ></path> </svg>');
  --divider-multi-wave: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"> <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25"></path> <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5"></path> <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"></path> </svg>');
  /* --divider-arrow: url('data:image/svg+xml;utf8,이후 svg복사임 ㅇㅇ'); */
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
}

p,
h2,
strong {
  max-width: 100%;
  word-break: keep-all;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

button:focus {
  outline: 1px solid transparent;
}

/* Common */
.section {
  padding: 4rem;
  text-align: center;
}

.max-container {
  max-width: var(--size-max-width);
  margin: auto;
}

.title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.description {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

/* mobile */
.Mobile_menu_toggle {
  position: absolute;
  display: none;
  font-size: 1.5rem;
  top: 1.3rem;
  right: 1rem;
  color: #6500a0;
}

/* Header */
.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  white-space: nowrap;
  transition: all 300ms ease;
}

.header--dark {
  background-color: var(--color-orange);
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo__img {
  object-fit: cover;
  width: 36px;
  height: 36px;
}

.header__logo__title {
  font-size: 1.8rem;
}

.header__menu {
  display: flex;
  gap: 4px;
}

.header__menu__item {
  display: block;
  padding: 8px 16px;
  border-bottom: 1px solid transparent;
}

.header__menu__item:hover {
  border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
  border: 1px solid var(--color-accent);
  border-radius: 4px;
}

#home {
  position: relative;
  background-color: var(--color-primary);
  background-image: var(--home-bg-svg);
  color: var(--color-text);
  padding: 5rem 1rem;
  padding-top: 7rem;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  justify-content: center;
}

/* 웨이브 */

#home::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 1.3px);
  height: 90px;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background-color: var(--color-white);
  mask: var(--divider-single-wave);
  -webkit-mask: var(--divider-single-wave);
}

.home {
  color: var(--color-text);

  width: 70%;
  padding: 1rem 1rem;
  padding-top: 1rem;
  opacity: 1;
}

.home__box {
  margin-bottom: 1rem;
}

.home__container {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 3rem;
  text-align: center;
  justify-content: center;
}

.home__avatar {
  position: relative;
  width: 230px;
  height: 300px;
  object-fit: cover;
  transform: scaleX(-1);
  border-radius: 100%;
}

.home__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.home__title--strong--font {
  font-size: 1rem;
}

.home__title--strong {
  color: var(--color-accent);
}

.home__description {
  font-size: 1.3rem;
}

.home__contact {
  background-color: var(--color-accent);
  margin: 2rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  display: inline-block;
  color: var(--color-black);
  border-radius: 4px;
}

.home__contact:hover {
  background-color: transparent;
  color: var(--color-text);
  outline: 2px solid var(--color-accent);
}

.cmd-window {
  width: 70%;
  max-width: 900px;
  height: 200px;
  border: 2px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  overflow-x: auto;
  background-color: #000;
  scrollbar-width: none;
  margin-bottom: 100px;
}

.cmd-outer {
  padding-left: 0.5rem;
  text-align: start;
}

.cmd-header {
  background-color: #1a1a1a;
  padding: 5px 10px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cmd-header-title {
  font-size: 12px;
  font-weight: 700;
}

.cmd-header-buttons {
  position: absolute;
  top: 3px;
  left: 5px;
  display: flex;
  gap: 5px;
}

.cmd-header-button {
  width: 16px;
  height: 16px;
  background-color: #333;
  border: 1px solid #555;
  text-align: center;
  line-height: 16px;
  color: white;
  cursor: pointer;
}

/* About */
.majors {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 2.5rem 0;
}

.major {
  background-color: var(--color-primary-variant);
  height: 300px;
  width: 300px;
  padding: 2rem 1rem;
  color: var(--color-text);
  border-radius: 1rem;
  cursor: default;
  box-shadow: inset -0px -0px 20px #6500a0;
}

.major__icon {
  font-size: 4rem;
  margin: 1rem 0;
  color: var(--color-accent);
  transition: all 300ms ease;
}

.major__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.major:hover .major__icon {
  transform: rotate(-15deg) scale(1.2);
}

.mainStack_logos {
  gap: 2px;
  position: flex;
}

.mainStack_logo {
  width: 36px;
  height: 36px;

  border-radius: 100%;
  border: 1px solid var(--color-accent);
  background-color: white;
}

#colorBox {
  background: linear-gradient(
    to bottom,
    var(--color-primary),
    var(--color-primary-variant)
  );
  position: relative;
}

#colorBox::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100%);
  height: 25px;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background-color: var(--color-primary);
  mask: var(--divider-multi-wave);
  -webkit-mask: var(--divider-multi-wave);
}

#project__shower {
  position: relative;
  color: var(--color-text);
}

.skills {
  display: grid;
  grid-template-columns: 6fr 4fr;
  margin: 2rem 3rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: -10px -10px 30px 4px rgba(0, 0, 0, 0.1),
    10px 10px 30px 4px rgba(45, 78, 255, 0.15);
}

.skills__title {
  color: var(--color-accent);
  margin: 1rem 0;
  font-size: 1.2rem;
}

.skills__coding {
  grid-row: span 2;
  padding: 1rem;
  background-color: var(--color-primary);
}

.skills__tools {
  padding: 1rem;
}

.skills__etc {
  padding: 1rem;
  background-color: var(--color-primary);
  filter: brightness(150%);
}

.bar {
  display: flex;
  flex-direction: column;
  /* 수직정렬로 만들어서 flex여도 다음거가 아래로 위치 */
  padding: 1rem;
  gap: 0.5rem;
}

.bar__metadata {
  display: flex;
  justify-content: space-between;
  /* 사이 간격 자동 부여 */
}

.bar__bg {
  width: 100%;
  height: 3px;
  background-color: var(--color-primary-variant);
}

.bar__value {
  height: 3px;
  background-color: var(--color-accent);
}

/* Worked */
#Worked {
  /* background-color: var(--color-primary); */
  color: var(--color-text);
}

.categories {
  display: flex;
  justify-content: center;
  margin: 2.5rem;
  gap: 1rem;
}

.category {
  position: relative;
  color: var(--color-text);
  font-size: 1.1rem;
  padding: 0.5rem 3rem;
  border-radius: 4px;
  border: 1px solid var(--color-accent);
  cursor: pointer;
  white-space: nowrap;
}

.category--selected {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

.category__count {
  opacity: 0;
  position: absolute;
  top: -20px;
  right: 16px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 100%;
  background-color: var(--color-accent-variant);
  color: var(--color-text);
  transition: all 150ms ease-in;
}

.category--selected .category__count,
.category:hover .category__count {
  opacity: 1;
  top: 0;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  transition: all 250ms ease-out;
}

.projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(20px);
}

.project {
  position: relative;
  border-radius: 8%;
  overflow: hidden;
  min-width: 253px;
}

.project__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project__metadata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0;

  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in;
  transform: translateY(-10px);
  font-size: 0.9rem;
}

.project__metadata p {
  text-align: start;
  padding: 0 1;
}

.project__detail {
  margin-bottom: 0.2rem;
}

.project__metadata:hover {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__title:after {
  content: "";
  display: block;
  position: relative;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0.5rem 0;
  height: 2px;
  background-color: var(--color-accent);
}

/* skill__Detail */

.skill__Details {
  margin: 3rem;
}

.skill__Detail {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 3rem; //백
}

.skill__Detail:nth-child(even) .skill__Detail__img {
  order: 1;
}

.skill__Detail__img {
  min-width: 150px;
  max-width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;

  box-shadow: -10px -10px 30px 4px rgba(0, 0, 0, 0.1),
    10px 10px 30px 4px rgba(45, 78, 255, 0.15);
}

.skill__Detail__bubble {
  padding: 1rem;

  border-radius: 8px;
  box-shadow: -10px -10px 30px 4px rgba(0, 0, 0, 0.1),
    10px 10px 30px 4px rgba(45, 78, 255, 0.15);
}

.skill__Detail__bubble__name {
  color: var(--color-accent);
  font-weight: bold;
  filter: brightness(70%);
}

/* arrow up */

.arrow-up {
  background-color: var(--color-primary);
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;
  text-align: center;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 0px 30px 4px var(--color-accent);
  transition: all 300ms ease-in;
  opacity: 0;
  z-index: 99;
}

.arrow_stop {
  pointer-events: none;
}

/* footer */

#Contact {
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-text);
}

.footer__arrow_top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  overflow: hidden;
  line-height: 0;
}

.footer__arrow_top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}

.footer__arrow_top .shape-fill {
  fill: white;
}

.contact__links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 2rem;
}

.contact__link {
  transition: color 250ms ease-in;
}

.contact__link:hover {
  color: var(--color-accent);
}

.contact__svg {
  height: 36px;
  width: 31px;
  fill: white;
  transition: fill 250ms ease-in;
}

.contact__svg:hover {
  fill: var(--color-accent);
}

.font_new_black {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
  text-align: start;
  margin-top: 0.4rem;
  margin-left: 0.8rem;
  word-break: keep-all;
}

.font_new_white {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: rgba(254, 254, 254, 0.7);
}

#emailValue:hover {
  color: var(--color-accent);
}

#phoneValue {
  pointer-events: none;
}

@media screen and (max-width: 1080px) {
  .mainStack_logo {
    width: 38px;
    height: 38px;
  }
  .home__title--strong--font {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 982px) {
  .home__title--strong--font {
    font-size: 0.9rem;
  }

  .project__detail {
    font-size: 0.7rem;
    font-weight: 900;
  }

  .mainStack_logo {
    width: 28px;
    height: 28px;
  }

  .major__title {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 870px) {
  .home__title--strong--font {
    font-size: 0.8rem;
  }

  .project__detail {
    font-size: 0.8rem;
    font-weight: 900;
  }

  .mainStack_logo {
    width: 38px;
    height: 38px;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .major {
    min-width: 130px;
  }
}

@media screen and (max-width: 820px) {
  /* wave */

  .home__title--strong--font {
    font-size: 0.75rem;
  }

  #phoneValue:hover {
    color: var(--color-accent);
  }
  #phoneValue {
    pointer-events: all;
  }

  .home__wave {
    bottom: -50px;
  }

  /* mobile */
  .Mobile_menu_toggle {
    display: block;
  }

  .header__menu.open {
    display: flex;
  }

  .header__menu__item {
    display: block;
  }

  .section {
    padding: 3rem 2rem;
  }

  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  .header {
    flex-direction: column;
    align-items: start;
    background-color: var(--color-primary);
  }

  .header__menu {
    display: none;
    flex-direction: column;
    text-align: center;
    margin: 1rem 4rem;
    gap: 1rem;
  }

  .header__nav {
    width: 100%;
  }

  #home {
    padding-bottom: 3rem;
  }

  .home__box {
    flex-direction: column;
    align-items: center;
  }

  .home__title {
    margin-bottom: 0.5rem;
  }

  .major__title {
    font-size: 1.2rem;
  }

  .majors {
    /* flex-direction: column; */
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
  }

  .major {
    width: 49%;
    max-height: 140px;
    padding: 0.2rem;
    position: relative;
  }

  .major__detail {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 1rem;

    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: black;

    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .major:hover .major__detail {
    display: flex;
    align-items: center;
  }

  .job {
    justify-content: center;
  }

  .skills {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .categories {
    flex-direction: column;
  }

  .category {
    width: 100%;
    padding: 0.5rem;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .project__metadata {
    display: none;
  }

  .skill__Details {
    margin: 0;
  }

  .skill__Detail {
    flex-direction: column;
    gap: 0.8rem;
  }

  .skill__Detail:nth-child(even) .skill__Detail__img {
    order: 0;
  }

  .arrow-up {
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .cmd-window {
    width: 80%;
  }

  .home__title--strong--font {
    font-size: 0.7rem;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .section {
    padding: 10% 8%;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 0.4rem;
  }

  .Mobile_menu_toggle {
    top: 0.9rem;
  }

  .home__title--strong--font {
    font-size: 0.65rem;
  }

  .cmd-window {
    height: 230px;
  }

  .cmd-header {
    height: 16px;
  }

  .cmd-header-title {
    font-size: 8px;
    font-weight: 300;
  }

  .cmd-header-buttons {
    top: 2.5px;
    left: 2.5px;
    gap: 2.5px;
  }

  .cmd-header-button {
    width: 10px;
    height: 10px;
  }

  .skills__title {
    margin-top: 0.7rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 425px) {
  .cmd-window {
    width: 80%;
    height: 250px;
  }

  .home__title {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 350px) {
  .cmd-window {
    width: 90%;
    height: 250px;
  }
}
